@font-face {
    font-family: "Overused Grotesk";
    src: url("../fonts/OverusedGrotesk-VF.woff2") format("woff2-variations");
    font-weight: 300 900;
}

html {
    width: 100%;
    background-color: #443;
}

body {
    width: 75%;
    margin: auto;
    padding: 0;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 1em;
}
.image-header {
    border-radius: 32px;

    text-align: center;
        padding-top: 1.5em;
        img {
            border: 2.5px solid #f50;
            display: inline;
            float: center;
            border-radius: 32%;
            width: 8em;   /* adjust this value */
            height: 8em;  /* keep square for profile pic */
            object-fit: cover; /* keeps aspect ratio nice */
        }
       
    }

header {
    margin: 2em auto 2em;
    border: 1px solid #333;
    border-radius: 32px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f50;
    color: #ddd;
    text-align: center;
    line-height: 44px;
    h3 {
        margin: 0;
        padding: 0;
        display: inline;
        float: center;
        margin-left: 6px;
        a {
            border-radius: 10px;
            text-decoration: none;
            color: #eee;
            padding: 0.2em 1em;
                transition: 0.5s;
                &:hover {
                    background-color: #555;
                    color: #fff;
                }
                
        }
    }
    
}
a {
    color: #ddd;
    text-decoration: none;
}
 
section {
    text-align: center;
    margin: 1em auto;
    padding: 0.8em;
    border: 1px solid #333;
    border-radius: 32px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f50;
    color: #ddd;

        a {
            border-radius: 10px;
            text-decoration: none;
            padding: 0.4em 1em;
            transition: 0.5s;
            &:hover {
                background-color: #555;
                color: #fff;
            }
        }
    &:hover {
        background-color: #555;
        color: #fff;
        transition: 0.5s;
    }
   
}

footer {
    margin: 2em auto 0;
    border: 1px solid #333;
    border-radius: 32px 32px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #f50;
    color: #ddd;
    text-align: center;
    
}


@media (max-width: 768px) {
    body {
        font-size: 1.1em;
        width: 85%;
    }
}