html {
    width: 100%;
    background-color: #333;
}

body {
    width: 75%;
    margin: auto;
    padding: 0;
    font-family: 'Neue Haas Grotesk', sans-serif;
    font-size: 1.2em;
}

header {
    margin: 2em auto 2em;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #522;
    color: #ddd;
    text-align: center;
    line-height: 60px;
    h2 {
        margin: 0;
        padding: 0;
        display: inline;
        float: center;
        margin-left: 6px;
        a {
            border-radius: 10px;
            text-decoration: none;
            color: #eee;
            padding: 0.2em 1em;
                transition: 0.5s;
                &:hover {
                    background-color: #555;
                    color: #fff;
                }
                
        }
    }
    .image-header {
        padding-top: 1.5em;
        img {
            display: inline;
            float: center;
            border-radius: 50%;
        }
    }
}
a {
    color: #ddd;
    text-decoration: none;
}
 
section {
    text-align: center;
    margin: 1em auto;
    padding: 1em;
    border: 1px solid #333;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #522;
    color: #ddd;

        a {
            border-radius: 10px;
            text-decoration: none;
            padding: 0.4em 1em;
            transition: 0.5s;
            &:hover {
                background-color: #555;
                color: #fff;
            }
        }
    &:hover {
        background-color: #555;
        color: #fff;
        transition: 0.5s;
    }
   
}

footer {
    margin: 2em auto 0;
    border: 1px solid #333;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: #522;
    color: #ddd;
    text-align: center;
    
}


@media (max-width: 768px) {
    body {
        font-size: 1.1em;
        width: 85%;
    }
}